.App .card {
  border: 2px solid rgb(117, 80, 80);
  background-color: rgb(238, 232, 217);
  border-radius: 12px;
  text-align: center;
}
.App.card-title {
  font-size: 16px;
  font-weight: bold;
}
.App.nextDays {
  position: relative;
  left: 630px;
  bottom: 390px;
  color: rgb(49, 48, 48);
  line-height: 0.4;
}

.App.first-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}

.App.second-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.App.third-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.App.fourth-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.App.fifth-day {
  background-color: rgb(238, 232, 217);
  margin-bottom: 20px;
}
.App.card-text {
  font-size: 14px;
}

.App #icon2,
#icon3,
#icon4,
#icon5,
#icon6 {
  padding: 0px;
}
