.container {
  font-family: "Merienda";
  font-weight: bold;
  margin: 0px;
}

.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/020/679/original/pexels-johannes-plenio-2080963.jpg?1636322330");
  background-size: cover;
  background-position: center;
  max-width: 700px;
  max-height: 585px;
  display: block;
  margin: 20px 0px 0px 200px;
  padding: 30px 30px 150px;
  border: 1px solid;
  border-radius: 20px;
}
