.container {
  font-family: "Merienda";
  font-weight: bold;
  margin: 0px;
}

.weather-app {
  background-image: url("img/clouds3.jpg");
  background-size: cover;
  background-position: center;
  max-width: 700px;
  max-height: 585px;
  display: block;
  margin: 20px 0px 0px 200px;
  padding: 30px 30px 150px;
  border: 1px solid;
  border-radius: 20px;
}
