.nextDays {
  width: 6em;
  position: relative;
  bottom: 400px;
  left: 540px;
  color: rgb(99, 71, 71);
  font-weight: lighter;
  line-height: 1.5;
  font-size: 18px;
  padding-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

.temperature-min {
  font-size: 14px;
  opacity: 0.8;
}
.temperature-max {
  font-size: 14px;
}
