.welcome {
  display: block;
  margin: 0px 150px;
  padding: 10px 15px;
  border: 2px solid rgb(117, 80, 80);
  border-radius: 35px;
  background-color: rgb(238, 232, 217);
  font-size: 13px;
}

.greeting {
  color: rgb(117, 80, 80);
  font-size: 38px;
  font-family: "Style Script", cursive;
  font-weight: bold;
  text-align: center;
}

.city-form {
  padding: 0px;
  margin: 0px 10px;
}

.current-location {
  color: rgb(238, 232, 217);
  background-color: rgb(117, 80, 80);
  font-size: 12px;
  font-weight: bold;
  margin: 0px 30px 0px -30px;
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  top: -5px;
}
.current-location:hover {
  color: #fa8354;
}
ul {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-details {
  width: 11rem;
  margin-top: -140px;
  padding: 0px;
  border: 2px solid rgb(117, 80, 80);
  background-color: rgb(238, 232, 217);
  color: rgb(99, 71, 71);
  border-radius: 12px;
}
.details {
  line-height: 1.8;
  font-size: 16px;
  font-family: Merienda;
  padding-inline-start: 15px;
}

.weather-icon {
  display: block;
  padding-inline-start: 55px;
  padding-top: 10px;
}
.description {
  font-weight: bolder;
  font-size: 16px;
}
.result {
  text-align: center;
  font-size: 26px;
  font-family: Merienda;
  color: white;
  position: relative;
  left: 180px;
  top: 50px;
  line-height: 2;
}

.current-temperature {
  font-size: 36px;
  color: white;
}

.temperature-celsius {
  font-size: 18px;
  color: white;
  text-decoration: none;
  position: relative;
  top: -13px;
}

.temperature-fahrenheit {
  cursor: pointer;

  font-size: 18px;
  color: rgb(99, 71, 71);
  position: relative;
}

.temperature-fahrenheit hover {
  color: rgb(79, 79, 116);
}
