.welcome {
  display: block;
  margin: 0px 150px;
  padding: 10px 15px;
  border: 2px solid rgb(117, 80, 80);
  border-radius: 35px;
  background-color: rgb(238, 232, 217);
  font-size: 14px;
}

.greeting {
  color: rgb(117, 80, 80);
  font-size: 46px;
  font-family: "Style Script", cursive;
  font-weight: bold;
  text-align: center;
}

.city-form {
  padding: 0px 30px;
  margin: 0px 10px;
}

.current-location {
  color: rgb(238, 232, 217);
  background-color: rgb(117, 80, 80);
  font-size: 13px;
  font-weight: bold;
  margin: 0px 30px 0px -40px;
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  top: -5px;
}
.current-location:hover {
  color: rgb(28, 170, 170);
}
ul {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-details {
  width: 12rem;
  margin-top: -200px;
  padding: 0px;
  border: 2px solid rgb(117, 80, 80);
  background-color: rgb(238, 232, 217);
  color: rgb(49, 48, 48);
  border-radius: 12px;
}
.details {
  line-height: 1.8;
  font-size: 16px;
  font-family: Merienda;
  padding-inline-start: 15px;
}

.icon {
  display: block;
  margin: 5px 40px 0px;
  padding-inline-start: 15px;
  padding-top: 10px;
}
.description {
  font-weight: bolder;
  font-size: 18px;
}
.result {
  text-align: center;
  font-size: 28px;
  font-family: Merienda;
  color: rgb(24, 23, 23);
  position: relative;
  left: 180px;
  top: 30px;
  line-height: 2;
}

.current-temperature {
  font-size: 32px;
}

.temp-celsius {
  font-size: 14px;
  position: relative;
  top: -12px;
}
